/* div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #031321;
  font-family: consolas;
} */
.atr {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.2s;
  overflow: hidden;
  transition-delay: 0.75s;
  background-color: #031321;
  font-size: 35px;
}
/* .atr:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3,
    0 0 100px #2196f3;
  text-decoration: none;
} */
.atr:hover {
  color: #ffffff;
  background-color: #7355f7;
  box-shadow: 0 0 10px #7355f7, 0 0 40px #7355f7, 0 0 80px #7355f7,
    0 0 100px #7355f7;
  text-decoration: none;
}
.atr span {
  display: block;
  position: absolute;
}
.atr .span-1 {
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
  background-image: linear-gradient(90deg, #e1fd66, #935ef5);
  transition: 0.7s;
}
.atr:hover .span-1 {
  left: 100%;
}
.atr .span-2 {
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
  background-image: linear-gradient(270deg, #e1fd66, #935ef5);
  transition: 0.7s;
}
.atr:hover .span-2 {
  right: 100%;
}
.rgtr {
  background: #ffffff;
  /* padding: 2rem; */
  padding: 6rem 0 3rem;
  width: 100%;
  /* background-color: #faf8ff; */
  font-family: "Poppins", sans-serif;
  color: rgb(34, 29, 29);
  text-align: center;
}
